bootstrap.servers=bootstrap.kafka.confluent.acme.com:9092
security.protocol=SASL_SSL
sasl.mechanism=PLAIN
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="devuser" password="dev-password";
ssl.truststore.location=TRUSTORE_LOCATION
ssl.truststore.password=changeme
